@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @include m.publicSans(1.8rem, 400);
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;    
}
a {
    text-decoration: none;
    font-weight: 500;
}
button {
    font-weight: 500;
}
p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}
h2 {
    font-size: 2.5rem;
    font-weight: 500;
}
h3 {
    font-size: 2.3rem;
    font-weight: 500;
}
h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
    @extend .azulOscuro;
}
p {
    margin: 0;
    @extend .azulGris;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.img-fluid {
    width: 100%;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: v.color("azulHover") v.color("azulGris");
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: v.color("azulGris");
}
*::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, v.color("verde") 0% ,v.color("azul") 100%);
    border: 1px solid v.color("blanco");
}

